
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100dvh;
    box-sizing: border-box;

    display: grid;
    place-items: center;
    border: 2px solid hwb(0 4% 2%);

    background: linear-gradient(
        1850deg,
        #e8f1f8,
        #db871ada,
        #e8f1f8
    );

}


.bodygrid {
    width: 70%;
    max-width: 700px;
    height: 70%;
    
    display:grid;
    grid-template-rows: 4fr 1fr 4fr;
    place-items: center;
    overflow: hidden;
    
    border-radius: 50px;
    background: rgba(240, 239, 239, 0.3);
    box-shadow: 0 0 50px rgba(235, 110, 7, 0.5);

    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

}


.liveweather {
    border: 1px solid grey;
    width: 80%;

    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    place-items: center;
    border-radius: 20px;

}

.todayweather {
    border: 1px solid grey;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.img_todayweather {
    border: 1px solid grey;
    width: 90%;
    height: 90%;
    background-image: url(./icons/weathericons/rainy_300dp.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.todayweather2 {
    border: 1px solid grey;
    width: 90%;
    height: 90%;
}

.wind-humidity {
    border: 1px solid grey;
    width: 90%;
    border-radius: 40px;

}

.liveforecast {
    border: 1px solid grey;
    width: 90%;
    border-radius: 40px;
}

.sunsetime {
    border: 1px solid grey;
    width: 80%;
    border-radius: 40px;
}


.weeklyforecast {
    border: 1px solid grey;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    place-items: center;

    margin: 0;
    gap: 0;

}
.weekdaycard {
    border: 1px solid grey;
    display: grid;
    justify-content: center;
    height: auto;
    width: fit-content;
    margin: 0;
    padding: 0;
    border-radius: 40px;
}

.weekdaycard_name {
    border: 1px solid gray;
    margin: 0;
    padding: 0px;
}
.weekdaycard_img {
    border: 1px solid gray;
    margin: 0;
    padding: 0px;
}
.weekdaycard_day {
    border: 1px solid gray;
    margin: 0;
    padding: 0;
}
.weekdaycard_night {
    border: 1px solid gray;
    margin: 0;
    padding: 0;
}

